<nav id="secondary-nav" class="navbar navbar-expand-lg navbar-transparent navbar-abs pt-4">
  <div class="container px-0">
      <%= link_to root_path do %>
        <%= image_tag 'logo-dark.svg', class: 'logo', width: '50px' %>
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse mb-2" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-lg-0">
          <li class="nav-item">
            <div class="link">
              <%= link_to about_path, class: 'nav-link active' do %>About Me<% end %>
              <span></span>
            </div>
          </li>
          <li class="nav-item">
            <div class="link">
              <%= link_to projects_path, class: 'nav-link' do %>Projects<% end %>
              <span></span>
            </div>
          </li>
          <li class="nav-item">
            <div class="link">
              <%= link_to art_path, class: 'nav-link' do %>Art<% end %>
              <span></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>
