<table class="custom-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Order</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody id="projects-table" data-update-url="<%= admin_projects_sort_priority_path %>" >
    <% @projects.each do |project| %>
        <tr id="project-<%= project.id %>">
            <td><%= project.try(:name) %></td>
            <td><%= project.try(:order) %></td>
            <td>
                <% if project.categories.count > 0 %>
                  <% project.categories.each do |c| %>
                      <span class="me-2"><%= Category.find(c).name || "N/A" %></span>
                  <% end %>
                <% end %>
            </td>
            <td class="action-td">
                <%= button_to admin_project_path(project), :method => :delete, class: 'btn btn-action btn-delete', data: { confirm: 'Are you sure?' } do %>
                    <i class="fas fa-trash-alt"></i>
                <% end %>
                <%= link_to edit_admin_project_path(project) do %>
                  <i class="fas fa-pencil"></i>
                <% end %>
                <%= link_to admin_project_path(project), class: 'btn btn-action btn-view'  do %>
                  <i class="fas fa-eye"></i>
                <% end %>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>
