<% if defined?(projects) && projects.count > 0 %>
    <div class="projects-slider">
        <% projects.each_with_index do |p, i| %>
            <div class="project-slide slide project-container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                    <div class="project-name d-lg-none no-text-overflow"><%= p[:name].titleize %></div>
                        <div id="project-<%= p.id %>" class="square project-detail mb-3 pe-3">
                            <div class="project-details pt-3" style="z-index: 99;">
                                <%= link_to project_path(p), remote: true do %>
                                    <div class="project-image-container" style="z-index: 1 !important;">
                                    <div class="actions">
                                        <% if p.url.present? %>
                                            <%= link_to p.url,  target: '_blank', class: 'btn btn-md btn-shadow btn-tag btn-round' do %>
                                                <i class="fas icon fa-external-link me-3"></i>Website
                                            <% end %>
                                        <% end %>
                                    </div>
                                <% end %>
                                <img src="<%= get_project_image(p) %>" class='w-100 h-100 project-img' />
                                <%#= image_tag 'get_project_image(p)', class: 'w-100 h-100 project-img' %>
                                <span class="project-overlay"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="project-content">
                        <div class="project-name d-none d-lg-inline-block no-text-overflow"><%= p[:name].titleize %></div>
                        <div class="description" style="z-index: 0 !important;">
                        <% if p.description.present? %>
                                <%= p.description %>
                        <% else %>
                        <%= LoremIpsum.lorem_ipsum(words: 50) %>                 
                        <% end %>
                        
                        </div>
                    </div>    
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <div class="card-content no-content d-flex align-items-center justify-content-center project-container">
        Nothing matches the current filter.
    </div>
<% end %>

