<% if defined?(projects) && projects.count > 0 %>
    <div class="row mb-4">
        <% projects.each_with_index do |p, i| %>
            <div class="col-12 project-container <%= i % 2 == 0 ? 'right' : 'left' %>">
                <div class="row">
                    <div class="col-4 <%= i % 2 == 0 ? 'order-1' : 'order-2' %>">
                        <div id="project-<%= p.id %>" class="square project-detail pe-3">
                            <div class="project-details <%= i % 2 == 0 ? 'right' : 'left' %>">
                                <div class="project-image-container">
                                <div class="actions">
                                    <span class="btn btn-sm btn-shadow btn-tag btn-round"><i class="fas icon fa-external-link me-3"></i>Website</span>
                                </div>
                                <%= image_tag 'projects/jj-homepage.png', class: 'w-100 h-100 project-img' %>
                                <span class="project-overlay"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 <%= i % 2 == 0 ? 'order-2' : 'order-1' %>">
                        <div class="project-content <%= i % 2 == 0 ? 'right' : 'left' %>">
                        <div class="project-name no-text-overflow"><%= p[:name].titleize %></div>
                            <div class="description"><%= LoremIpsum.lorem_ipsum(words: 50) %>...Read More</div>
                        </div>    
                    </div>
                </div>
            </div>

        <% end %>
    </div>
<% end %>


<style>

.project-container {
    margin-bottom: 4rem;
}

.project-content {
    position: relative;
    
}

.project-details.left {
}

.project-content.right {
    padding: 0rem 2rem 3.5rem 3rem;
}

.project-content.left {
    padding: 0rem 4rem 3.5rem 0rem;
}

.project-content.right:after {
    content: '';
    position: absolute;
    left: -5rem;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    z-index: -99;
    background: white;
}

.project-content.left:after {
    content: '';
    position: absolute;
    left: 0rem;
    top: 0rem;
    bottom: 0rem;
    right: -5rem;
    z-index: -99;
    background: white;
}


#  {
#     background-color: #274c73;
# background-color: #d2e0f1;
# }

 .project-image-container:after,
 .project-name:after
 {
background-color: #b8e8b3;
}

.btn-tag {
    background: #297b62 !important;
}

.btn-tag .icon {
    font-weight: 100;
}

.btn-shadow {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .2);
}

.actions {
    z-index: 2;
}

.description {
    color: #202021;
    font-weight: 100;
    z-index: 2;
    line-height: 2;
}

.project-image-container {
    position: relative;
    width: calc(100% - 1rem);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}


.project-image-container:after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: url(<%= asset_path 'circuit-board--lg.svg' %>);
    bottom: -1rem;
    right: -1rem;
    background-color: #b8e8b3;
    z-index: -2;
    opacity: 0.5;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-fit: cover;
    background-repeat: no-repeat;
    background: #202021;
    opacity: 0.0;
    
}


.project-image-container {
    position: relative;
}

.actions {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.project-detail {
    margin-bottom: 4.5rem;
}

.project-5 {
    height: 200px;
}

.btn-tag {
    background: #f2f2f2;
    color: white;
    font-size: 1.2rem !important;
}

.btn-sm {
    font-size: .9rem;
    padding: 5px 20px;
}

.project-6 {
    height: 150px;
}

.project-header {
    top: 1rem;
    left: 1.25rem;
    padding-right: 1rem;
}


.project-name {
    color: #202021;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;s
}

.project-name:after {
    content: '';
    position: absolute;
    height: 20px;
    left: -5px;
    width: 45%;
    bottom: -5px;
    background-color: #b8e8b3;
    z-index: -1;
    min-width: 0px;
}

.square {
    animation: slide-up 0.4s ease;
    transition: all 2s ease-in;
} 

.square.darkgray.show {
    
    background: green;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

</style>