<%= form_for @contact_request, url: contact_request_path, remote: true do |f| %>
    <div class="form-group">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    </div>

    <div class="form-group">
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="form-group">
        <%= f.text_area :message, class: 'form-control', placeholder: 'Message', rows: 5 %>
    </div>

    <%= f.hidden_field :email_validation %>
    <%= f.button :submit, class: 'btn btn-main btn-xl btn-round' do %>
        Get in Touch
    <% end %>
<% end %>

<style>



.field_with_errors input,
.field_with_errors textarea {
    border-bottom: 2px solid #359c7d;
}

.field_with_errors input {
    height: 44px;
}

.field_with_errors {
    position: relative;
}

.field_with_errors:after {
    content: '!';
    position: absolute;
    top: 10px;
    right: 0.5rem;
    z-index: 1;
    font-weight: 400;
    color: white;
    background: #359c7d;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1rem;
    opacity: 0.5;
}

</style>