<section class="hero container-fluid px-0 dark-section">
    <div class="row h-100">
        <div class="col-2 col-sm-4 col-md-5 padded-section left-content d-flex align-items-end">
            <%= image_tag 'blob-bg.svg', class: 'bg-element' %>
            <ul class="d-none d-sm-block unstyled-list vertical-list icon-list">
                <li>
                    <a href="<%= GITHUB %>" target="_blank">
                        <i class="fa-brands icon icon-white icon-lg fa-github"></i>
                    </a>
                </li> 
                <li>
                    <a href="<%= LINKED_IN %>" target="_blank">
                        <span class="fa-stack icon-white icon-lg">
                            <i class="fas fa-circle fa-stack-2x circle"></i>
                            <i class="fab fa-linkedin-in fa-stack-1x inner-icon fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="mailto:<%= EMAIL %>" target="_blank">
                    <span class="fa-stack icon-white icon-lg">
                        <i class="fas fa-circle fa-stack-2x circle"></i>
                        <i class="fas fa-envelope fa-stack-1x inner-icon fa-inverse"></i>
                    </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-10 col-sm-8 col-md-7 padded-section right-content d-flex align-items-center p-relative">
            <div class="bg-element-img">
                <%= image_tag 'rectangles.svg', class: 'w-50' %>
            </div>
            <div class="hero-text">
                <h1 class="lead-text"><span class="highlight">Megan</span> Nelson</h1>
                <p class="headline">I'm a Full Stack Developer.</p>
                <div class="actions mt-4">
                    <%= link_to projects_path, class: 'btn btn-main btn-round btn-xl me-2 me-md-4 mb-3' do %>
                        Projects
                    <% end %>
                    <%= link_to root_path(anchor: 'contact'), class: 'btn btn-second btn-round btn-xl mb-3' do %>
                        Contact Me
                    <% end %>
                </div>
                <ul class="d-sm-none unstyled-list horizontal-list icon-list mt-3">
                    <li>
                        <a href="<%= GITHUB %>" target="_blank">
                            <i class="fa-brands icon icon-white icon-sm fa-github"></i>
                        </a>
                    </li> 
                    <li>
                        <a href="<%= LINKED_IN %>" target="_blank">
                            <span class="fa-stack icon-white icon-sm">
                                <i class="fas fa-circle fa-stack-2x circle"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x inner-icon fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:<%= EMAIL %>" target="_blank">
                        <span class="fa-stack icon-white icon-sm">
                            <i class="fas fa-circle fa-stack-2x circle"></i>
                            <i class="fas fa-envelope fa-stack-1x inner-icon fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
