<section class="padding-bottom container padded-section-es-sm padded-section-es-md-auto">
    <div class="slider-wrapper">
    <div class="skills-slider">
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">Ruby on Rails</h3>
                <%= image_tag 'icon-ruby.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">JavaScript/React</h3>
                <%= image_tag 'icon-js.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">HTML/CSS</h3>
                <%= image_tag 'icon-html.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">MySQL/MongoDB</h3>
                <%= image_tag 'icon-db.svg', class: 'icon', width: '50px', height: '50px' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">SEO</h3>
                <%= image_tag 'icon-search.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">Version Control</h3>
                <%= image_tag 'icon-git.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">Adobe Suite</h3>
                <%= image_tag 'icon-adobe.svg' %>
            </div>
        </div>
    </div>
    </div>
</section>
