<section class="padding-bottom container">
    <div class="slider-wrapper">
    <div class="skills-slider">
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">Ruby on Rails</h3>
                <%= image_tag 'icon-ruby.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">JavaScript/React</h3>
                <%= image_tag 'icon-js.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">HTML/CSS</h3>
                <%= image_tag 'icon-html.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">MySQL/MongoDB</h3>
                <%= image_tag 'icon-db.svg', class: 'icon', width: '50px', height: '50px' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">SEO</h3>
                <%= image_tag 'icon-search.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">Version Control</h3>
                <%= image_tag 'icon-git.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">Adobe Suite</h3>
                <%= image_tag 'icon-adobe.svg' %>
            </div>
        </div>
    </div>
    </div>
</section>


<style>

.square-dark {
    color: white;
    background: #202021;
}

.skills-slider {
    display: block;
    position: relative;
}

.prev span, .next span {

}

.prev {
    position: absolute;
    display: block;
    z-index: 3;
    top: 0px;
    border-radius: 50%;
    
}

.prev, .next {
    background-color: #274c73;
    opacity: 0.125;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.prev span {
    
}

.next {
    position: absolute;
    display: block;
    z-index: 3;
    top: 0px;
    right: -50px;
  
    border-radius: 50%;
    margin-left: -25px;

}

.prev {
    left: calc(-40px - 50px);
    top: 50%;
    transform: translateY(-50%);
}

.next {
    top: 50%;
    transform: translateY(-50%);
    right: calc(-40px - 50px);
}


.prev span:before {
position: absolute;
content: "";
padding: 8px;
border: solid transparent;
border-width: 0 0 2rem 2rem;
transform: rotate(45deg);

    margin-top: 0px;
    margin-left: -18px;
}

.next span:before, .prev span:before {
    box-shadow: 1px -1px 0 1px white inset;
    -webkit-box-shadow: 2px -2px white inset;
    -moz-box-shadow: 2px -2px white inset;
}


.next span:before {
position: absolute;
content: "";
padding: 8px;

border: solid transparent;
border-width: 2rem 2rem 0rem 0rem;
margin-left: -25px;
margin-top: 0px;
transform: rotate(225deg);
}



.slick-slide {
    display: inline-block;
}

.slick-track {
  display: flex !important;
}

.slider-wrapper {
    //overflow: hidden;
}

.slick-list {
    overflow: hidden;
}

.slick-slide {
      margin-left: 10px;
      margin-right: 10px;
}
.slick-slide > div {
    height: 100%;
}
.slick-list {
      margin-left: -10px; /* px size of slide space */
      width: calc(100% + 20px); /* add double the px size of slide space */
}
.slide > div {
        height: calc(100% - 10px);
}

.card-title {
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.card-title:after {
    content: '';
    position: absolute;
    height: 20px;
    background: #274c73;
    bottom: -5px; left: 0; right: 0;
    z-index: -1;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.square {
    width: 100%;
    height: 100%;
}

/* the slides */
.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}


</style>
