<section class="padding-bottom container">
    <div class="slider-wrapper">
    <div class="skills-slider">
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">Ruby on Rails</h3>
                <%= image_tag 'icon-ruby.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">JavaScript/React</h3>
                <%= image_tag 'icon-ruby.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">HTML/CSS</h3>
                <%= image_tag 'icon-ruby.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">MySQL/MongoDB</h3>
                <%= image_tag 'icon-ruby.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">SEO</h3>
                <%= image_tag 'icon-ruby.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">Version Control</h3>
                <%= image_tag 'icon-ruby.svg', class: 'icon' %>
            </div>
        </div>
        <div class="slide">
            <div class="square square-dark centered-content">
                <h3 class="card-title mb-4">Adobe Suite</h3>
                <%= image_tag 'icon-ruby.svg' %>
            </div>
        </div>
    </div>
    </div>
</section>




<style>

.square-dark {
    color: white;
    background: darkgray;
}

.slidey {
    max-width: 100vw;
    width: 100%;
    overflow: hidden;
}
.skills-slider {
    display: block;
}

.slick-slide {
    display: inline-block;
}

.slick-track {
  display: flex !important;
}

.slider-wrapper {
    overflow: hidden;
}

.slick-slide {
      margin-left: 10px;
      margin-right: 10px;
}
.slick-slide > div {
    height: 100%;
}
.slick-list {
      margin-left: -10px; /* px size of slide space */
      width: calc(100% + 20px); /* add double the px size of slide space */
}
.slide > div {
        height: calc(100% - 10px);
}

.card-title {
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.card-title:after {
    content: '';
    position: absolute;
    height: 20px;
    background: #505050;
    bottom: -5px; left: 0; right: 0;
    z-index: -1;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.square {
    width: 100%;
    height: 100%;
}

/* the slides */
.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}


</style>

<script>

document.addEventListener("DOMContentLoaded", function(event) { 

    $(".skills-slider").slick({
        infinite: true,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: false,
        dots: false,
    });

    $(".slidey").slick("refresh");
})



</script>