<%= render 'hero' %>

<!-- BELOW THE FOLD -->
<section class="about padding-top padding-bottom">
    <div class="">
        <div class="row">
            <div class="col-5 px-0">
                <div class="bg-image"></div>
            </div>
            <div class="col-7 padded-section-es">
                <h2 class="section-title">Adaptability and Expertise</h2>
                <p>
                I build device-responsive, custom websites using Ruby on Rails, HTML/CSS/JavaScript, and MySQL, with design support from
                Adobe Photoshop, Illustrator, and InDesign. From initial concept to design to copywriting to deployment to maintenance, I manage every part of the process in close cooperation with my clients. 
                Whether the project is a bonafide "software application" for the web or a single-page promotional site, I'm always up for the task.
                I’m adaptable, quick to learn new technologies, and always looking for a challenge.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4 p-relative">
            <canvas class="bg-element square" id="myCanvas" resize></canvas>
        </div>
    </div>
</section>

<style>

#myCanvas {
    background: lightgray;
}

</style>



<%#= render 'skills' %>
<%= render 'slider_example' %>

<%= render 'projects' %>

<%= render 'skills_2' %>

<%= render 'contact' %>

<style>

.p-relative {
    position: relative;
}

.bg-element.square {
    background: #f4f4f4;;
    width: 100%;
    height: 500px;
    position: absolute;
    top: -125px;
    z-index: -2;
}

.bg-image {
    height: 100%;
    background-color: lightgray;
}

.padded-section-es {
    padding: 0 3rem;
}

p {
    line-height: 2;
    font-weight: 200;
    font-size: 18px;
}

.padding-top {
    padding-top: 80px;
}

.padding-bottom {
    padding-bottom: 80px;
}

.section-title {
    display: inline-block;
    font-size: 2.5rem;
    position: relative;
    margin-bottom: 40px;
}

.section-title:after {
    content: '';
    position: absolute;
    height: 20px;
    left: -5px;
    width: 45%;
    bottom: -5px;
    background-color: lightgray;
    z-index: -1;
    min-width: 100px;
}

</style>