<%= link_to root_path do %>
    <%= image_tag 'logo-dark.svg', class: 'logo' %>
<% end %>

<section class="under-development">
    <div class="row p-relative w-100 h-100">
        <div class="col-5 bg-lightgreen left-content p-relative px-0" style="height: 100vh;">
        <%= image_tag 'circuits-btot.svg', class: 'bg-element h-100 w-100' %>
        </div>
        <div class="col-7 p-relative">
        <%= image_tag 'circuit-board--lg.svg', class: 'bg-element w-100 h-100 object-fit-cover' %>
        </div>
    </div>
    <div class="h-100 container">
        <div class="row centered w-100">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="content-card dark">
                    <h1 class="section-title section-title-big">Under Development</h1>
                    <p class="big-text">
                        This page is currently being worked on, please check back in the future. 
                    </p> 
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row p-bottom">
            <div class="col-1"></div>
            <div class="col-5"></div>
            <div class="col-6 p-bottom">
                <%= image_tag 'circuit-board--lg.svg', class: 'bg-element second bg-green' %>
            </div>
        </div>
    </div>
</section>


<style>

footer {
    display: none;
}

.content-card::before {
    background-image: url(<%= image_path 'circuits-rtol.svg' %>);
}
.content-card::after {
    background-image: url(<%= image_path 'circuit-board--lg.svg' %>);
}

</style>