<%= link_to root_path do %>
    <%= image_tag 'logo-dark.svg', class: 'logo' %>
<% end %>

<section class="under-development">
    <div class="row p-relative w-100 h-100">
        <div class="col-5 bg-lightgreen left-content p-relative px-0">
        <%= image_tag 'circuits-btot.svg', class: 'bg-element h-100 w-100' %>
        </div>
        <div class="col-7">
        <%= image_tag 'circuit-board--lg.svg', class: 'bg-element w-100 h-100 object-fit-cover' %>
        </div>
    </div>
    <div class="h-100 container">
        <div class="row centered w-100">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="content-card dark">
                    <h1 class="section-title section-title-big">Under Development</h1>
                    <p class="big-text">
                        This page is currently being worked on, please check back in the future. 
                    </p> 
                </div>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-relative">
                <%#= image_tag 'circuit-board--lg.svg', class: 'bg-element first bg-green' %>
            </div>
            <div class="col-3"></div>
            <div class="col-1"></div>
        </div>
        <div class="row p-bottom">
            <div class="col-1"></div>
            <div class="col-5"></div>
            <div class="col-6 p-bottom">
                <%= image_tag 'circuit-board--lg.svg', class: 'bg-element second bg-green' %>
            </div>
        </div>
    </div>
</section>


<style>

.logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 100px;
}

.section-title-big {
    font-size: 3rem;
}

.bg-lightgreen {
    background: #e5f7e2;
}

.under-development .left-content {
    z-index: -1;
}

.p-bottom {
    top: 100%;
    display: flex;
    align-self: end;
    align-items: end;
    position: relative;
    bottom: 0rem;
}

.big-text {
    font-size: 1.5rem;
    font-weight: 100;
}

.p-relative {
    position: relative;
}

.bg-green {
    background: #b8e8b3;
    width: 100%;
    height: 50vh;
    min-height: 500px;
    opacity: 0.25;
}

.bg-green.first {
    top: 100%;
}

.bg-green.second {
    bottom: 7rem;
}

.content-card::before {
    position: absolute;
    content: '';
    background-image: url(<%= image_path 'circuits-rtol.svg' %>);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0rem;
    right: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.1;
}

.content-card::after {
    position: absolute;
    content: '';
    background-image: url(<%= image_path 'circuit-board--lg.svg' %>);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0rem;
    right: -2rem;
    top: 2rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background-color: #b8e8b3;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


.content-card.dark {
    background: white;
    color: #202021;
}

.section-title {
    z-index: 1;
}

.content-card {
    position: relative;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.5);
}

.bg-element {
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.under-development {
    position: relative;
    background: #b8e8b32b;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}

</style>