<!DOCTYPE html>
<html>
  <head>
    <title>Megan Nelson</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application_sass", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= render 'layouts/shared/navigation' %>
    <div class="container-fluid px-0 overflow-hidden">
    <%= yield %>
    </div>
  </body>
</html>
