<!DOCTYPE html>
<html>
  <head>
    <title>Megan Nelson | Login</title>
    <%= render 'application/favicon' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="devise <%= action_name %> <%= controller_name %>">
        <section class="devise-content" style="height: 100vh; width: 100vw;">
            <%= image_tag 'circuit-board--lg.svg', class: 'bg-element w-100 h-100 object-fit-cover', style: 'z-index: 0;' %>
            <div class="container">
                <div class="row centered w-100">
                    <div class="col-1 col-sm-3 col-md-4"></div>
                    <div class="col-12 col-sm-6 col-md-4 px-3 px-md-0">
                        <div class="content-card dark">
                            <%= yield %>
                        </div>
                    </div>
                    <div class="col-1 col-sm-3 col-md-4">
                    </div>
                </div>
            </div>
        </section>
  </body>
</html>

<%= link_to root_path do %>
    <%= image_tag 'logo-dark.svg', class: 'logo' %>
<% end %>

<style>

.content-card::after {
    background-image: url(<%= image_path 'circuit-board--lg.svg' %>);
}

</style>
