<!DOCTYPE html>
<html>
  <head>
    <title>Megan Nelson</title>
    <%= render 'application/favicon' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/shared/analytics' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>

  </head>

  <body class="<%= action_name %> <%= controller_name %>">
    <div class="fill-with-message"></div>
    <%= render 'layouts/shared/navigation_homepage' %>
    <div class="container-fluid px-0 overflow-hidden">
      <%= yield %>
      <%= render 'layouts/shared/footer_homepage' %>
    </div>
  </body>
</html>

